              <div class="col-lg-6">
                <ul class="list-unstyled">
                 <!-- <li>
                    <a href="/categories.html#reading">
                      阅读摘要
                    </a>
                  </li>	-->
                  <li>
                    <a href="/categories.html#architecture">
                      Architecture 建筑设计
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#interior">
                      Interior 室内设计
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#landscape">
                      Landcape 景观园林
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#art">
                      Art 艺术欣赏
                    </a>
                  </li>
                </ul>
                
                </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                  <a href="/categories.html#furniture">
                      Furniture 家具设计
                    </a>
                  </li>                  
	   <!-- <li>
                    <a href="/categories.html#cocos2d">
                      Cocos2d开发
                    </a>
                  </li>
                  <li>
                
              
                    <a href="/categories.html#web">
                      Web开发
                    </a>
                  </li>  -->
                  <li>
                    <a href="/categories.html#sketch">
                     Sketch 手绘
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#others">
                      others
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
