            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://bitbucket.org/">
                  Bitbucket.org
                </a>
              </li> 
               <li>
                <a href="https://news.ycombinator.com/">
                  Hacker News
                </a>
              </li>        
              <li>
                <a href="http://www.stackoverflow.com/">
                  Stack Overflow
                </a>
              </li>
              <li>
                <a href="http://developer.android.com/">
                  Android Developer
                </a>
              </li>
              <li>
                <a href="http://www.chiphell.com/">
                  Chiphell
                </a>
              </li>
              <li>
                <a href="http://99u.com/">
                  99U
                </a>
              </li>
              <li>
                <a href="http://http://www.gooood.hk/">
                  谷德网
                </a>
              </li>
              <li>
                <a href="http:/http://www.iarch.cn/">
                  专筑网
                </a>
              </li>
               <li>
                <a href="https://http://www.walkarc.com/">
                  行走建筑
                </a>
              </li>
              
            </ul>
