          <ul class="nav navbar-nav">
            <li>
              <a href="/categories.html">
                项目
              </a>
            </li>
            <li>
              <a href="/tags.html">
                标签
              </a>
            </li>
            <li>
              <a href="/archives.html">
                资料室
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                知道
              </a>
            </li>
            <li>
              <a href="/about.html">
                About 
              </a>
            </li>
          </ul>
